.question-box{
    width: 300px;
    height: 190px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
}

.question-box-header-group-1{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: rgb(144, 238, 144);
}

.question-box-header-group-2{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: rgb(255, 226, 122);
}

/* .question-box-header-content-title{
    margin: 8px;
} */

.question-box-footer{
    margin: 8px;
}

